azure-common==1.1.27
azure-core==1.15.0
azure-graphrbac==0.61.1
azure-identity==1.4.1
azure-mgmt-authorization==0.61.0
azure-mgmt-containerregistry==8.0.0
azure-mgmt-core==1.2.2
azure-mgmt-keyvault==9.0.0
azure-mgmt-resource==13.0.0
azure-mgmt-storage==11.2.0
azureml==0.2.7
azureml-core==1.30.0
azureml-dataprep==2.15.1
azureml-dataprep-native==33.0.0
azureml-dataprep-rslex==1.13.0
azureml-dataset-runtime==1.30.0
azureml-defaults==1.30.0
azureml-model-management-sdk==1.0.1b6.post1
dill==0.3.4
numpy
pandas==1.2.4
pylint==2.8.3
pytest==6.2.4
pytest-cov==2.12.1
pytest-mock==3.6.1
requests==2.25.1
scipy==1.6.3
scikit-learn==0.24.2
statsmodels==0.12.2
xgboost==1.4.2
